body {
    background-color: #f7f9fb;
}

.box {
    width: 350px;
    min-height: 100px;
    margin: 100px auto 0 auto;
    border: 1px solid #dddddd;
    padding: 0 20px 20px 20px;
    background-color: #fff;
}

.box h2 {
    text-align: center;
}

.mt-4 text-center {
margin-top: 10px;
}

.rgst-box {
    width: 350px;
    min-height: 100px;
    margin: 100px auto 0 auto;
    border: 1px solid #dddddd;
    padding: 0 20px 20px 20px;
    background-color: #fff;
}

#sendbutton {
    margin-top: 10px;
    margin-left: 520px;
}