{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="../static/css/login-css.css">
{% endblock %}

{% block body %}
<div class="container">

    <div class="box">
        <h2>Login</h2>

        <form method="post">
            <div class="form-group">
                <label for="user">Email</label>
                <input type="text" class="form-control" id="user" placeholder="Email" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd" placeholder="Password" name="Password1">
            </div>

            <button type="submit" class="btn btn-primary btn-block" >Login</button>
            <div class="mt-4 text-center" >Don't have an account? <a href="{{ url_for('auth.register') }}">Create One</a></div>
        </form>
    </div>
</div>
{% endblock %}